@import url(https://fonts.googleapis.com/css?family=Gochi+Hand:regular);
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}
:after,
:before {
  display: inline-block;
}
body,
html {
  height: 100%;
  min-width: 320px;
}
body {
  color: #000;
  line-height: 1;
  font-family: Gochi Hand;
  font-size: 2rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,
input,
textarea {
  font-family: Gochi Hand;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}
input,
textarea {
  width: 100%;
}
label {
  display: inline-block;
}
button,
option,
select {
  cursor: pointer;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.lock body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*="__container"] {
  max-width: 101.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 0.9375rem 1fr minmax(auto, 100rem) 1fr 0.9375rem;
}
[class*="--gc"] > * {
  min-width: 0;
  grid-column: 3/4;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__link {
  position: relative;
  transition: scale 0.2s ease 0s;
}
.menu__link span {
  position: relative;
  z-index: 1;
  color: #3a1712;
  font-family: Gochi Hand;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-stroke-width: 0.125rem;
  -webkit-text-stroke-color: #fffdda;
  paint-order: stroke fill;
  text-shadow: 0 0 3px rgba(144, 238, 144, 0.5),
    0 0 6px rgba(144, 238, 144, 0.4), 0 0 9px rgba(144, 238, 144, 0.3);
}
.icon-menu {
  display: none;
}
.ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ibg--top {
  object-position: top;
}
.ibg--bottom {
  object-position: bottom;
}
.ibg--left {
  object-position: left;
}
.ibg--right {
  object-position: right;
}
.ibg--contain {
  object-fit: contain;
}
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.25rem;
}
.header__logo {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}
.header__logo img {
  width: auto;
  height: auto;
  max-height: 5rem;
  object-fit: contain;
}
.header__button,
.header__right {
  display: flex;
  align-items: center;
}
.header__button {
  position: relative;
  z-index: 2;
  justify-content: center;
  width: 11.875rem;
  height: 4.6875rem;
  border: 0.25rem solid #3a1712;
}
.header__button:before {
  content: "";
  position: absolute;
  inset: 0.375rem;
  background-color: #3a1712;
  transition: inset 0.2s ease 0s;
}
.header__button span {
  color: #fffdda;
  font-family: Gochi Hand;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: letter-spacing 0.2s ease 0s;
}
.footer,
.header__button span {
  position: relative;
  z-index: 2;
}
.footer:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 120%;
}
.footer:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16%;
  aspect-ratio: 307/331;
}
.footer__top {
  position: relative;
  z-index: 2;
}
.footer__top-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 1.875rem;
}
.footer__top-menu {
  display: flex;
  align-self: center;
}
.footer__top-menu-column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.footer__top-menu-column:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 105%;
  aspect-ratio: 56/432;
}
.footer__top-menu-item {
  position: relative;
}
.footer__top-menu-item img {
  max-width: 100%;
  transition: scale 0.2s ease 0s;
}
.footer__top-social {
  flex-shrink: 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.625rem;
  gap: 0.625rem;
}
.footer__top-social:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: -10%;
  width: 120%;
  aspect-ratio: 463/34;
}
.footer__top-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer__top-social-item:first-child img {
  width: 100%;
}
.footer__top-social-item img {
  transition: scale 0.2s ease 0s;
  width: 80%;
}
.footer__bottom {
  position: relative;
  z-index: 2;
  padding: 0.125rem 0 0.875rem;
}
.footer__bottom:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
}
.footer__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__body span {
  color: #3a1712;
  font-family: Gochi Hand;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.footer__body a {
  display: flex;
  align-items: center;
  column-gap: 0.375rem;
}
@keyframes rotate360 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-1turn);
  }
}
@keyframes storyDec {
  0% {
    transform: translateX(0) translateY(0);
  }
  40% {
    transform: translateX(1.25rem) translateY(0.625rem);
  }
  to {
    transform: translateX(0) translateY(0);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes heroFront {
  0% {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes heroTitle {
  0% {
    transform: translateY(-30vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes heroItem {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.menu-open-bg {
  pointer-events: none;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(0.375rem);
  backdrop-filter: blur(0.375rem);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
.menu-open .menu-open-bg {
  opacity: 1;
}
.hero {
  position: relative;
  z-index: 1;
  min-height: 115vh;
  display: flex;
  align-items: flex-end;
}
.hero__bg {
  position: absolute;
  inset: 0;
}
.hero__bg img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.hero__title {
  position: absolute;
  z-index: 2;
  aspect-ratio: 1462/1055;
}
.hero__title img {
  transform: translateY(-65vh);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.loaded .hero__title img {
  animation: heroTitle 0.45s ease-out 0.4s forwards;
}
.hero__front {
  top: 5%;
  height: 95%;
  z-index: 3;
}
.hero__front,
.hero__front img {
  position: absolute;
  left: 0;
  width: 100%;
}
.hero__front img {
  z-index: 1;
  top: 0;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transform: translateY(100%);
}
.loaded .hero__front img {
  animation: heroFront 0.45s ease-out 0.4s forwards;
}
.hero__container {
  position: relative;
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
}
.hero__label {
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
}
.loaded .hero__label {
  animation: heroItem 0.3s ease 0.8s forwards;
}
.hero__label img {
  width: 100%;
}
.hero__dog {
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
}
.loaded .hero__dog {
  animation: heroItem 0.3s ease 1s forwards;
}
.hero__dog img {
  width: 100%;
}
.hero__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
}
.loaded .hero__actions {
  animation: heroItem 0.3s ease 1.2s forwards;
}
.hero__button {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__button img {
  width: 100%;
  transition: all 0.2s ease 0s;
}
.hero__social {
  z-index: 3;
  display: flex;
  align-items: flex-start;
  column-gap: 0.25rem;
}
.hero__social,
.hero__social-item {
  flex-shrink: 0;
  position: relative;
}
.hero__social-item img {
  width: 100%;
  transition: all 0.2s ease 0s;
}
.hero__social-item:nth-child(2) {
  transform: translateY(-15%);
}
.story {
  position: relative;
  z-index: 2;
}
.story:before {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: -7%;
  left: 0;
  width: 100%;
  height: 112%;
}
.story__container {
  position: relative;
  z-index: 2;
}
.story__title {
  position: relative;
  width: 100%;
  aspect-ratio: 1688/651;
}
.story__title img {
  position: absolute;
}
.story__title img:first-child {
  z-index: 4;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.story__title img:nth-child(2) {
  z-index: 1;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(0);
  width: 42%;
  aspect-ratio: 1;
  object-fit: contain;
  animation: rotate360 40s linear infinite;
}
.story__title img:nth-child(3) {
  z-index: 2;
  bottom: -10%;
  right: -5%;
  width: 28%;
  aspect-ratio: 381/450;
  object-fit: contain;
  opacity: 0.5;
}
.story__title img:nth-child(4) {
  z-index: 2;
  top: 12%;
  left: 13%;
  width: 20%;
  aspect-ratio: 322/332;
  object-fit: contain;
  opacity: 0.5;
}
.story__title img:nth-child(5) {
  z-index: 3;
  bottom: 13%;
  right: 12%;
  width: 13%;
  aspect-ratio: 1;
  object-fit: contain;
  animation: storyDec 6s ease infinite;
}
.story__title img:nth-child(6) {
  z-index: 3;
  bottom: 25%;
  right: 45%;
  width: 16%;
  aspect-ratio: 1;
  object-fit: contain;
  animation: storyDec 6s ease 1s infinite;
}
.story__title img:nth-child(7) {
  z-index: 3;
  bottom: 27%;
  left: 18%;
  width: 9%;
  aspect-ratio: 1;
  object-fit: contain;
  animation: storyDec 6s ease 1.8s infinite;
}
.story__title img:nth-child(8) {
  z-index: 5;
  bottom: 5%;
  right: 3%;
  width: 18%;
  aspect-ratio: 273/83;
  object-fit: contain;
}
.story__title img:nth-child(9) {
  z-index: 5;
  bottom: -4%;
  right: 23%;
  width: 14%;
  aspect-ratio: 237/279;
  object-fit: contain;
  animation: storyDec 6s ease 0.5s infinite;
}
.story__title img:nth-child(10) {
  z-index: 5;
  top: 12%;
  right: 20%;
  width: 7%;
  aspect-ratio: 125/225;
  object-fit: contain;
  animation: storyDec 6s ease 0.3s infinite;
}
.story__title img:nth-child(11) {
  z-index: 5;
  bottom: 22%;
  right: 42.8%;
  width: 7%;
  aspect-ratio: 1;
  object-fit: contain;
  animation: storyDec 6s ease 0.8s infinite;
}
.story__title img:nth-child(12) {
  z-index: 5;
  top: 22%;
  right: 47%;
  width: 11%;
  aspect-ratio: 190/163;
  object-fit: contain;
  animation: storyDec 6s ease 1.2s infinite;
}
.story__title img:nth-child(13) {
  z-index: 5;
  top: 34%;
  right: 61.4%;
  width: 11%;
  aspect-ratio: 186/88;
  object-fit: contain;
  animation: storyDec 6s ease 1.6s infinite;
}
.story__title img:nth-child(14) {
  z-index: 5;
  bottom: -2%;
  left: 4%;
  width: 17%;
  aspect-ratio: 308/244;
  object-fit: contain;
  animation: storyDec 6s ease 2s infinite;
}
.story__title img:nth-child(15) {
  z-index: 3;
  bottom: -2%;
  left: 22%;
  width: 19%;
  aspect-ratio: 1;
  object-fit: contain;
  animation: storyDec 6s ease 1.4s infinite;
}
.story__rows {
  display: flex;
  flex-direction: column;
}
.story__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.story__row.reverse {
  flex-direction: row-reverse;
}
.story__image {
  opacity: 0.5;
  scale: 0.5;
  will-change: scale, opacity;
  transition: opacity 0.3s ease-out 0s, scale 0.3s ease-out 0s;
}
.story__image._watcher-view {
  opacity: 1;
  scale: 1;
}
.story__image img {
  width: 100%;
}
.story__content {
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  display: flex;
  flex-direction: column;
}
.story__content._watcher-view {
  animation: opacity 0.3s ease forwards;
}
.story__content-title {
  position: relative;
  z-index: 2;
  width: 100%;
}
.story__content-title img {
  width: 100%;
}
.story__content-text {
  position: relative;
}
.story__content-text p {
  position: relative;
  z-index: 2;
  color: #fffaec;
  font-family: Gochi Hand;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.story__content-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.story__content-button img {
  width: 100%;
  transition: all 0.2s ease 0s;
}
@keyframes ex {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes line {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes exDec {
  0% {
    transform: rotate(-180deg) scale(0);
  }
  to {
    transform: rotate(0) scale(1);
  }
}
.exchanges {
  position: relative;
  z-index: 3;
}
.exchanges__top {
  position: relative;
  display: flex;
  flex-direction: column;
}
.exchanges__decor {
  position: absolute;
  z-index: 1;
  top: -10%;
  left: 27%;
  width: 64%;
  aspect-ratio: 1244/1181;
  transform: rotate(-180deg) scale(0);
  will-change: transform;
}
.exchanges__decor._watcher-view {
  animation: exDec 0.3s ease 0.2s forwards;
}
.exchanges__decor img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.exchanges__front {
  position: relative;
  width: 100%;
  z-index: 2;
}
.exchanges__front:before {
  content: "";
  position: absolute;
  top: 30.6%;
  left: 36.3%;
  width: 18%;
  aspect-ratio: 2.6/1;
  border-radius: 50%;
  background-color: rgba(255, 247, 239, 0.5);
  filter: blur(1.25rem);
  opacity: 0;
  animation: ex 1s ease infinite;
}
.exchanges__front img {
  width: 100%;
}
.exchanges__front img:first-child,
.exchanges__front img:nth-child(2) {
  display: block;
}
.exchanges__title {
  align-self: center;
  position: relative;
  z-index: 3;
  padding: 0 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exchanges__title img {
  width: 100%;
}
.exchanges__bottom {
  position: relative;
  z-index: 1;
}
.exchanges__line,
.exchanges__line-row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.exchanges__line-row {
  column-gap: 1em;
  padding-left: 1em;
  animation: line 20s linear infinite;
}
.exchanges__line-item {
  flex-shrink: 0;
}
.exchanges__line-item img {
  width: 100%;
}
.how {
  position: relative;
  z-index: 1;
}
.how__container {
  display: flex;
  align-items: center;
}
.how__title {
  width: 100%;
  margin-bottom: 0.9375rem;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
}
.how__title._watcher-view {
  animation: opacity 0.3s ease 0.2s forwards;
}
.how__title img {
  width: 100%;
}
.how__items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.how__items:before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  height: 106%;
  aspect-ratio: 39/683;
}
.how__item {
  position: relative;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
}
.how__item._watcher-view {
  animation: opacity 0.3s ease 0.2s forwards;
}
.how__item:not(:last-child) .how__item-content:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  max-width: 100%;
}
.how__item:first-child .how__item-content:before {
  aspect-ratio: 514/29;
}
.how__item:nth-child(2) .how__item-content:before {
  aspect-ratio: 549/27;
}
.how__item:nth-child(3) .how__item-content:before {
  aspect-ratio: 549/41;
}
.how__item-number {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
}
.how__item-number img {
  max-width: 100%;
  max-height: 100%;
}
.how__item-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.625rem;
}
.how__item-content h4 {
  background-color: #da543c;
  color: #fbfdfd;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.625rem;
}
.how__item-content h4,
.how__item-content p {
  font-family: Gochi Hand;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.how__item-content p {
  color: #2d0606;
  align-self: stretch;
}
.how__image {
  opacity: 0.5;
  scale: 0.5;
  will-change: scale, opacity;
  transition: opacity 0.3s ease-out 0s, scale 0.3s ease-out 0s;
}
.how__image._watcher-view {
  opacity: 1;
  scale: 1;
}
.how__image img {
  width: 100%;
}
@keyframes tokTitDec {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
.tokenomics {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.tokenomics__container {
  display: flex;
  flex-direction: column;
}
.tokenomics__title {
  position: relative;
  align-self: center;
  width: 84%;
}
.tokenomics__title img {
  position: relative;
  z-index: 3;
  width: 100%;
}
.tokenomics__title img:nth-child(2) {
  position: absolute;
  z-index: 1;
  top: 2%;
  right: 10%;
  width: 41.6%;
  aspect-ratio: 605/601;
  transform-origin: top;
  animation: tokTitDec 6s ease infinite;
}
.tokenomics__title img:nth-child(3) {
  position: absolute;
  z-index: 2;
  top: -45%;
  left: -50%;
  width: 170%;
  aspect-ratio: 1823/619;
}
.tokenomics__body {
  position: relative;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tokenomics__items {
  display: grid;
  grid-template-columns: 30% 25% 32%;
  justify-content: space-between;
}
.tokenomics__items._watcher-view .tokenomics__item:first-child {
  animation: opacity 0.3s ease 0.2s forwards;
}
.tokenomics__items._watcher-view .tokenomics__item:nth-child(2) {
  animation: opacity 0.3s ease 0.4s forwards;
}
.tokenomics__items._watcher-view .tokenomics__item:nth-child(3) {
  animation: opacity 0.3s ease 0.5s forwards;
}
.tokenomics__item {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
}
.tokenomics__item:nth-child(2) {
  transform: translateY(-5%);
}
.tokenomics__item img {
  width: 100%;
}
.tokenomics__ca {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tokenomics__ca:has(button:hover) span:nth-child(2) {
  color: #da543b;
}
.tokenomics__ca span {
  display: block;
}
.tokenomics__ca span:first-child {
  position: relative;
  aspect-ratio: 127/107;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25rem solid #310a02;
}
.tokenomics__ca span:first-child:before {
  content: "";
  position: absolute;
  inset: 0.375rem;
  background-color: #310a02;
}
.tokenomics__ca span:first-child img {
  position: relative;
  z-index: 2;
  aspect-ratio: 84/87;
}
.tokenomics__ca span:nth-child(2) {
  padding: 0.625rem 1.5rem;
  border: 0.25rem solid #310a02;
  background: #fffbc6;
  color: #310a02;
  font-family: Gochi Hand;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translateX(-0.25rem);
  transition: color 0.2s ease 0s;
}
.tokenomics__ca button {
  background-color: #310a02;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-0.5rem);
}
.tokenomics__ca button svg {
  width: 53%;
  height: 62%;
  transition: scale 0.2s ease 0s;
}
.join {
  position: relative;
  z-index: 1;
}
.join__bg {
  top: -26%;
  height: 126%;
}
.join__bg,
.join__bg img {
  position: absolute;
  left: 0;
  width: 100%;
}
.join__bg img {
  z-index: 1;
  top: 0;
  height: 100%;
  object-fit: cover;
}
.join__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join__title {
  width: 90%;
}
.join__title img {
  width: 100%;
}
.join__actions {
  width: 80%;
  margin-left: 10%;
}
.join__actions,
.join__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.join__button {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}
.join__button img {
  width: 100%;
  transition: all 0.2s ease 0s;
}
.join__social {
  position: relative;
  flex: 0 0 40%;
  display: flex;
  flex-wrap: wrap;
}
.join__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.join__social-item:first-child {
  flex: 0 0 24.6%;
}
.join__social-item:nth-child(2) {
  flex: 0 0 15.45%;
  transform: translateY(-25%);
}
.join__social-item:nth-child(3) {
  flex: 0 0 26.56%;
}
.join__social-item:nth-child(4) {
  flex: 0 0 17.58%;
  transform: translate(-10%, 25%);
}
.join__social-item:nth-child(5) {
  flex: 0 0 21.875%;
  transform: translate(100%, -40%);
}
.join__social-item img {
  width: 100%;
  transition: scale 0.2s ease 0s;
}
.join__front img:first-child {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.join__front img:nth-child(2) {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 37%;
  aspect-ratio: 414/674;
  object-fit: cover;
  object-position: bottom;
}
@media (min-width: 47.99875em) {
  .join__front {
    position: absolute;
    z-index: 3;
    pointer-events: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
  }
}
@media (min-width: 61.99875em) {
  .hero__title {
    bottom: 18%;
    left: 22%;
    width: 60%;
  }
  .hero__label {
    flex: 0 0 25%;
  }
  .hero__dog {
    flex: 0 0 35%;
  }
  .hero__actions {
    align-self: flex-end;
  }
  .story__row.reverse {
    margin-top: -7%;
  }
  .story__image {
    flex: 0 0 55%;
  }
  .story__image.pad-top {
    transform: translateY(10%);
  }
  .story__content {
    flex: 0 0 43%;
    align-items: flex-end;
  }
  .story__content-text {
    width: 80%;
  }
  .story__content-text:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -10%;
    height: 280%;
    max-height: 23.9375rem;
    transform: translateY(-50%);
    aspect-ratio: 43/383;
  }
  .reverse .story__content-text:before {
    left: -10%;
    max-height: 21.25rem;
  }
  .exchanges__front img:nth-child(2) {
    display: none;
  }
  .how__content,
  .how__image {
    flex: 0 0 50%;
  }
}
@media (min-width: 101.875em) {
  .menu__list {
    column-gap: 3rem;
  }
  .menu__link span {
    font-size: 2rem;
  }
  .header__logo {
    width: 11.9375rem;
  }
  .header__right {
    column-gap: 2rem;
  }
  .footer__top-body {
    padding-top: 2.5rem;
    padding-bottom: 3.75rem;
  }
  .footer__top-menu {
    column-gap: 8.75rem;
  }
  .footer__top-menu-column {
    padding-left: 2.5rem;
  }
  .footer__top-social {
    width: 22.8125rem;
    margin-top: 2.5rem;
  }
  .footer__body span {
    font-size: 1.5rem;
  }
  .footer__body a img {
    width: 8.9375rem;
  }
  .page__how {
    padding-top: 7.5rem;
    padding-bottom: 13.75rem;
  }
  .page__tokenomics {
    padding-bottom: 5rem;
  }
  .hero {
    min-height: 60rem;
  }
  .hero__container {
    padding-bottom: 7.5rem;
  }
  .hero__label {
    padding-top: 5rem;
    margin-right: 2.5rem;
  }
  .hero__dog {
    margin-right: 7.5rem;
  }
  .hero__actions {
    padding-bottom: 3.75rem;
  }
  .hero__button {
    width: 16.25rem;
  }
  .hero__social-item:first-child {
    width: 5.6875rem;
  }
  .hero__social-item:nth-child(2) {
    width: 4.625rem;
  }
  .story {
    padding-bottom: 1.25rem;
  }
  .story__content {
    padding-right: 2.5rem;
  }
  .story__content-title.margin {
    margin-bottom: 1.25rem;
  }
  .story__content-text:not(:last-child) {
    margin-bottom: 3.125rem;
  }
  .story__content-text p {
    font-size: 2rem;
  }
  .story__content-button {
    margin-left: 5rem;
    width: 12.6875rem;
  }
  .exchanges__top {
    padding-top: 8.75rem;
  }
  .exchanges__front {
    margin-top: -7.5rem;
  }
  .exchanges__title {
    width: 64.6875rem;
  }
  .exchanges__bottom {
    padding-top: 1.875rem;
    padding-bottom: 4rem;
  }
  .exchanges__line-item {
    width: 12.8125rem;
  }
  .how__content {
    padding-right: 1.875rem;
  }
  .how__items {
    row-gap: 2.5rem;
  }
  .how__items:before {
    left: 4.5625rem;
  }
  .how__item {
    column-gap: 2.75rem;
  }
  .how__item:first-child .how__item-content:before {
    height: 1.8125rem;
  }
  .how__item:nth-child(2) .how__item-content:before {
    height: 1.6875rem;
  }
  .how__item:nth-child(3) .how__item-content:before {
    height: 2.5625rem;
  }
  .how__item-number {
    width: 4.5625rem;
  }
  .how__item-content h4 {
    padding-right: 4rem;
    font-size: 2rem;
  }
  .how__item-content p {
    font-size: 1.5rem;
  }
  .tokenomics__items {
    margin-bottom: 2.1875rem;
    padding-left: 6.25e-8rem;
    padding-right: 6.25e-8rem;
    margin-top: 6.25e-8rem;
  }
  .tokenomics__ca span:first-child {
    width: 7.9375rem;
  }
  .tokenomics__ca span:first-child img {
    width: 5.25rem;
  }
  .tokenomics__ca span:nth-child(2) {
    font-size: 1.625rem;
  }
  .tokenomics__ca button {
    width: 4.375rem;
    height: 4.375rem;
  }
  .join {
    margin-top: -3.75rem;
  }
  .join__container {
    padding-bottom: 6rem;
  }
  .join__actions {
    column-gap: 22.5rem;
    margin-top: -7.5rem;
  }
  .join__button {
    width: 16.25rem;
  }
  .join__front img:nth-child(2) {
    width: 25.875rem;
  }
}
@media (min-width: 120em) {
  .footer__bottom:before {
    aspect-ratio: 1920/64;
  }
}
@media (min-width: 160em) {
  .footer:before {
    top: -3.25rem;
  }
  .exchanges {
    margin-top: -4.25rem;
  }
  .how {
    margin-top: -3.375rem;
  }
  .tokenomics {
    margin-top: -4rem;
  }
}
@media (max-width: 20em) {
  .menu__link span {
    font-size: 2rem;
  }
  .header__logo {
    width: 10rem;
  }
  .footer:before {
    top: -1rem;
  }
  .footer__top-body {
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
  }
  .footer__top-menu {
    column-gap: 1.25rem;
  }
  .footer__top-menu-column {
    padding-left: 0.625rem;
  }
  .footer__top-social {
    width: 16.25rem;
    margin-top: 1.25rem;
  }
  .footer__bottom:before {
    height: 2rem;
  }
  .footer__body span {
    font-size: 1.375rem;
  }
  .footer__body a img {
    width: 8.375rem;
  }
  .page__how {
    padding-top: 5rem;
    padding-bottom: 6.25rem;
  }
  .page__tokenomics {
    padding-bottom: 2.5rem;
  }
  .hero__container {
    padding-bottom: 6.25rem;
    padding-top: 17.5rem;
  }
  .hero__label {
    margin-top: -2.5rem;
  }
  .hero__dog {
    width: 18.125rem;
    margin-top: -1.25rem;
  }
  .hero__button {
    width: 11.25rem;
  }
  .hero__social-item:first-child {
    width: 4.625rem;
  }
  .hero__social-item:nth-child(2) {
    width: 3.875rem;
  }
  .story {
    padding-bottom: 1.875rem;
  }
  .story__content-text p {
    font-size: 1.625rem;
  }
  .story__content-button {
    width: 10.625rem;
  }
  .exchanges {
    margin-top: -1.25rem;
  }
  .exchanges__top {
    padding-top: 5rem;
  }
  .exchanges__front {
    margin-top: -2.5rem;
  }
  .exchanges__title {
    width: 20rem;
  }
  .exchanges__bottom {
    padding-top: 1.25rem;
    padding-bottom: 1.875rem;
  }
  .exchanges__line-item {
    width: 5rem;
  }
  .how {
    margin-top: -1.25rem;
  }
  .how__items {
    row-gap: 1.875rem;
  }
  .how__items:before {
    left: 2.375rem;
  }
  .how__item {
    column-gap: 1.875rem;
  }
  .how__item:first-child .how__item-content:before,
  .how__item:nth-child(2) .how__item-content:before {
    height: 1.25rem;
  }
  .how__item:nth-child(3) .how__item-content:before {
    height: 1.5rem;
  }
  .how__item-number {
    width: 2.75rem;
  }
  .how__item-content h4 {
    padding-right: 2.75rem;
    font-size: 1.5rem;
  }
  .how__item-content p {
    font-size: 1.125rem;
  }
  .tokenomics {
    margin-top: -2rem;
  }
  .tokenomics__items,
  .tokenomics__title {
    margin-bottom: 2.5rem;
  }
  .tokenomics__ca span:nth-child(2) {
    font-size: 1.25rem;
  }
  .tokenomics__ca button {
    width: 2.75rem;
    height: 2.75rem;
  }
  .join {
    margin-top: -1.25rem;
  }
  .join__button {
    width: 11.25rem;
  }
  .join__front img:nth-child(2) {
    width: 13.75rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: auto;
    right: 0;
    top: -100%;
    overflow: auto;
    background-color: #fffdda;
    padding: 8.75rem 0.9375rem 1.875rem;
    transition: top 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-open .menu__body {
    top: 0;
    transition: top 0.4s ease-out;
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .icon-menu {
    border: 0.25rem solid #3a1712;
    background-color: #fffdda;
    display: block;
    position: relative;
    width: 3.25rem;
    height: 3.25rem;
    z-index: 5;
  }
  .icon-menu span,
  .icon-menu:after,
  .icon-menu:before {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0.375rem;
    position: absolute;
    width: calc(100% - 0.75rem);
    height: 0.125rem;
    background-color: #3a1712;
  }
  .icon-menu:before {
    top: 0.75rem;
  }
  .icon-menu:after {
    bottom: 0.75rem;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu:before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu:after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .hero__title {
    top: 10%;
    width: 80%;
    left: 12%;
    max-width: 30rem;
  }
  .hero__front {
    top: -2%;
    height: 102%;
  }
  .hero__front img {
    object-position: 32% 100%;
  }
  .hero__container {
    flex-direction: column;
    align-items: center;
  }
  .loaded .hero__label {
    animation: heroItem 0.3s ease 1.2s forwards;
  }
  .hero__label {
    order: 3;
  }
  .hero__dog {
    order: 2;
  }
  .loaded .hero__actions {
    animation: heroItem 0.3s ease 0.8s forwards;
  }
  .hero__actions {
    order: 1;
  }
  .story__title {
    margin-bottom: 2.5rem;
  }
  .story__row {
    text-align: center;
  }
  .story__row,
  .story__row.reverse {
    flex-direction: column-reverse;
  }
  .story__content {
    align-items: center;
    row-gap: 1.25rem;
  }
  .exchanges__decor {
    top: 0;
    left: 10%;
    width: 80%;
  }
  .exchanges__front:before {
    top: 30.6%;
    left: 22.6%;
    width: 30%;
  }
  .exchanges__front img:first-child {
    display: none;
  }
  .how__container {
    flex-direction: column;
  }
  .tokenomics__items {
    grid-template-columns: 32% 27% 34%;
  }
}
@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 47.99875em) {
  .footer:after {
    width: 32%;
  }
  .footer__top-body {
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
  }
  .footer__body {
    flex-direction: column-reverse;
    row-gap: 0.375rem;
  }
  .exchanges__line-row {
    column-gap: 0.4em;
    padding-left: 0.4em;
  }
  .tokenomics {
    padding: 3rem 0;
  }
  .tokenomics__title {
    width: 92%;
  }
  .tokenomics__ca {
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .tokenomics__ca span:nth-child(2) {
    word-break: break-all;
    text-align: center;
    transform: translateX(0);
  }
  .tokenomics__ca button {
    transform: translateX(0);
  }
  .join__title {
    margin-bottom: 1.875rem;
  }
  .join__actions {
    flex-direction: column;
    width: 100%;
    align-items: center;
    row-gap: 1.25rem;
  }
  .join__front {
    position: relative;
    z-index: 3;
    width: 100%;
    aspect-ratio: 1;
  }
  .join__front img:first-child {
    height: 30%;
  }
  .join__front img:nth-child(2) {
    left: 15%;
  }
}
@media (max-width: 29.99875em) {
  .story:before {
    top: -6%;
  }
  .how__items:before {
    height: 96%;
  }
  .how__item-content h4 {
    padding-right: 1.5rem;
  }
  .tokenomics__items {
    grid-template-columns: 33% 28% 35%;
  }
}
@media (min-width: 61.99875em) and (max-width: 101.875em) {
  .menu__list {
    column-gap: clamp(1.5rem, -0.8321682706rem + 3.7616375662vw, 3rem);
  }
  .menu__link span {
    font-size: clamp(1.75rem, 1.3613052882rem + 0.6269395944vw, 2rem);
  }
  .header__right {
    column-gap: clamp(1.25rem, 0.0839158647rem + 1.8808187831vw, 2rem);
  }
  .hero {
    min-height: clamp(35rem, -3.8694711765rem + 62.693959437vw, 60rem);
  }
  .hero__container {
    padding-bottom: clamp(3.75rem, -2.0804206765rem + 9.4040939156vw, 7.5rem);
  }
  .hero__label {
    padding-top: clamp(2.5rem, -1.3869471176rem + 6.2693959437vw, 5rem);
    margin-right: clamp(1.25rem, -0.6934735588rem + 3.1346979719vw, 2.5rem);
  }
  .hero__dog {
    margin-right: clamp(3.125rem, -3.6771574559rem + 10.9714429015vw, 7.5rem);
  }
  .hero__actions {
    padding-bottom: clamp(1.875rem, -1.0402103382rem + 4.7020469578vw, 3.75rem);
  }
  .hero__button {
    width: clamp(11.25rem, 3.4761057647rem + 12.5387918874vw, 16.25rem);
  }
  .hero__social-item:first-child {
    width: clamp(4.625rem, 2.973047475rem + 2.6644932761vw, 5.6875rem);
  }
  .hero__social-item:nth-child(2) {
    width: clamp(3.875rem, 2.7089158647rem + 1.8808187831vw, 4.625rem);
  }
  .story__content {
    padding-right: clamp(1.25rem, -0.6934735588rem + 3.1346979719vw, 2.5rem);
  }
  .story__content-title.margin {
    margin-bottom: clamp(0.625rem, -0.3467367794rem + 1.5673489859vw, 1.25rem);
  }
  .story__content-text:not(:last-child) {
    margin-bottom: clamp(1.875rem, -0.0684735588rem + 3.1346979719vw, 3.125rem);
  }
  .story__content-text p {
    font-size: clamp(1.625rem, 1.0419579324rem + 0.9404093916vw, 2rem);
  }
  .story__content-button {
    margin-left: clamp(2.5rem, -1.3869471176rem + 6.2693959437vw, 5rem);
    width: clamp(10.625rem, 7.4182686279rem + 5.1722516536vw, 12.6875rem);
  }
  .how__content {
    padding-right: clamp(1.25rem, 0.2782632206rem + 1.5673489859vw, 1.875rem);
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  .menu__link span {
    font-size: clamp(2rem, 1.7023720944rem + 1.488139528vw, 2.625rem);
  }
  .hero__container {
    padding-bottom: clamp(6.25rem, 4.4642325664rem + 8.9288371678vw, 10rem);
    padding-top: clamp(17.5rem, 12.1426976993rem + 26.7865115033vw, 28.75rem);
  }
  .hero__label {
    margin-top: clamp(-3.75rem, -1.9047441888rem + -2.9762790559vw, -2.5rem);
  }
  .hero__dog {
    width: clamp(18.125rem, 17.2321162832rem + 4.4644185839vw, 20rem);
    margin-top: clamp(-2.5rem, -0.6547441888rem + -2.9762790559vw, -1.25rem);
  }
  .hero__button {
    width: clamp(11.25rem, 8.8689767553rem + 11.9051162237vw, 16.25rem);
  }
  .hero__social-item:first-child {
    width: clamp(4.625rem, 4.1190325605rem + 2.5298371975vw, 5.6875rem);
  }
  .hero__social-item:nth-child(2) {
    width: clamp(3.875rem, 3.5178465133rem + 1.7857674336vw, 4.625rem);
  }
  .story__content-text p {
    font-size: clamp(1.625rem, 1.4464232566rem + 0.8928837168vw, 2rem);
  }
  .story__content-button {
    width: clamp(10.625rem, 9.6428279115rem + 4.9108604423vw, 12.6875rem);
  }
}
@media (min-width: 20em) and (max-width: 101.875em) {
  .header__logo {
    width: clamp(10rem, 9.5267175573rem + 2.3664122137vw, 11.9375rem);
  }
  .footer__top-body {
    padding-top: clamp(1.25rem, 0.9446564885rem + 1.5267175573vw, 2.5rem);
    padding-bottom: clamp(2.5rem, 2.1946564885rem + 1.5267175573vw, 3.75rem);
  }
  .footer__top-social {
    margin-top: clamp(1.25rem, 0.9446564885rem + 1.5267175573vw, 2.5rem);
  }
  .footer__body span {
    font-size: clamp(1.375rem, 1.3444656489rem + 0.1526717557vw, 1.5rem);
  }
  .footer__body a img {
    width: clamp(8.375rem, 8.2375954198rem + 0.6870229008vw, 8.9375rem);
  }
  .page__how {
    padding-top: clamp(5rem, 4.3893129771rem + 3.0534351145vw, 7.5rem);
    padding-bottom: clamp(6.25rem, 4.4179389313rem + 9.1603053435vw, 13.75rem);
  }
  .page__tokenomics {
    padding-bottom: clamp(2.5rem, 1.8893129771rem + 3.0534351145vw, 5rem);
  }
  .story {
    padding-bottom: clamp(1.25rem, 2.0276717557rem + -0.7633587786vw, 1.875rem);
  }
  .exchanges__top {
    padding-top: clamp(5rem, 4.0839694656rem + 4.5801526718vw, 8.75rem);
  }
  .exchanges__front {
    margin-top: clamp(-7.5rem, -1.2786259542rem + -6.106870229vw, -2.5rem);
  }
  .exchanges__title {
    width: clamp(20rem, 9.0839694656rem + 54.5801526718vw, 64.6875rem);
  }
  .exchanges__bottom {
    padding-top: clamp(1.25rem, 1.0973282443rem + 0.7633587786vw, 1.875rem);
    padding-bottom: clamp(1.875rem, 1.3559160305rem + 2.5954198473vw, 4rem);
  }
  .exchanges__line-item {
    width: clamp(5rem, 3.0916030534rem + 9.5419847328vw, 12.8125rem);
  }
  .how__items {
    row-gap: clamp(1.875rem, 1.7223282443rem + 0.7633587786vw, 2.5rem);
  }
  .how__items:before {
    left: clamp(2.375rem, 1.840648855rem + 2.6717557252vw, 4.5625rem);
  }
  .how__item {
    column-gap: clamp(1.875rem, 1.661259542rem + 1.0687022901vw, 2.75rem);
  }
  .how__item:first-child .how__item-content:before {
    height: clamp(1.25rem, 1.1125954198rem + 0.6870229008vw, 1.8125rem);
  }
  .how__item:nth-child(2) .how__item-content:before {
    height: clamp(1.25rem, 1.143129771rem + 0.534351145vw, 1.6875rem);
  }
  .how__item:nth-child(3) .how__item-content:before {
    height: clamp(1.5rem, 1.2404580153rem + 1.2977099237vw, 2.5625rem);
  }
  .how__item-number {
    width: clamp(2.75rem, 2.3072519084rem + 2.213740458vw, 4.5625rem);
  }
  .how__item-content h4 {
    padding-right: clamp(2.75rem, 2.4446564885rem + 1.5267175573vw, 4rem);
    font-size: clamp(1.5rem, 1.3778625954rem + 0.6106870229vw, 2rem);
  }
  .how__item-content p {
    font-size: clamp(1.125rem, 1.0333969466rem + 0.4580152672vw, 1.5rem);
  }
  .tokenomics__ca button {
    width: clamp(2.75rem, 2.3530534351rem + 1.9847328244vw, 4.375rem);
    height: clamp(2.75rem, 2.3530534351rem + 1.9847328244vw, 4.375rem);
  }
  .join {
    margin-top: clamp(-3.75rem, -0.6393129771rem + -3.0534351145vw, -1.25rem);
  }
}
@media (min-width: 20em) and (max-width: 160em) {
  .footer:before {
    top: clamp(-3.25rem, -0.6785714286rem + -1.6071428571vw, -1rem);
  }
  .exchanges {
    margin-top: clamp(-4.25rem, -0.8214285714rem + -2.1428571429vw, -1.25rem);
  }
  .how {
    margin-top: clamp(-3.375rem, -0.9464285714rem + -1.5178571429vw, -1.25rem);
  }
  .tokenomics {
    margin-top: clamp(-4rem, -2rem + -6.6964285714vw, -2rem);
  }
}
@media (min-width: 47.99875em) and (max-width: 101.875em) {
  .footer__top-menu {
    column-gap: clamp(1.875rem, -4.2499883993rem + 12.7607248092vw, 8.75rem);
  }
  .footer__top-menu-column {
    padding-left: clamp(1.25rem, 0.1363657456rem + 2.3201317835vw, 2.5rem);
  }
  .footer__top-social {
    width: clamp(15rem, 8.0397859098rem + 14.5008236468vw, 22.8125rem);
  }
  .tokenomics__items {
    margin-bottom: clamp(
      0.3125rem,
      -1.3579513816rem + 3.4801976752vw,
      2.1875rem
    );
    padding-left: clamp(6.25e-8rem, 4.7272684532rem + -4.640263451vw, 2.5rem);
    padding-right: clamp(6.25e-8rem, 4.7272684532rem + -4.640263451vw, 2.5rem);
    margin-top: clamp(-1.25rem, -2.3636343101rem + 2.3201318995vw, 6.25e-8rem);
  }
  .tokenomics__ca span:first-child {
    width: clamp(5.5rem, 3.3284132039rem + 4.5242569778vw, 7.9375rem);
  }
  .tokenomics__ca span:first-child img {
    width: clamp(3.75rem, 2.4136388947rem + 2.7841581402vw, 5.25rem);
  }
  .tokenomics__ca span:nth-child(2) {
    font-size: clamp(1rem, 0.4431828728rem + 1.1600658917vw, 1.625rem);
  }
  .join__container {
    padding-bottom: clamp(4rem, 2rem + 9.2805271339vw, 6rem);
  }
  .join__actions {
    column-gap: clamp(12.5rem, 3.5909259646rem + 18.5610542679vw, 22.5rem);
    margin-top: clamp(-7.5rem, 1.9545370177rem + -9.2805271339vw, -2.5rem);
  }
  .join__button {
    width: clamp(11.25rem, 6.7954629823rem + 9.2805271339vw, 16.25rem);
  }
  .join__front img:nth-child(2) {
    width: clamp(15rem, 5.3113819865rem + 20.1851465163vw, 25.875rem);
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .footer__top-menu {
    column-gap: clamp(1.25rem, -0.5357940087rem + 8.9289700433vw, 3.75rem);
  }
  .footer__top-menu-column {
    padding-left: clamp(0.625rem, -0.2678970043rem + 4.4644850217vw, 1.875rem);
  }
  .footer__top-social {
    width: clamp(16.25rem, 11.5622907273rem + 23.4385463637vw, 22.8125rem);
  }
  .tokenomics__items,
  .tokenomics__title {
    margin-bottom: clamp(2.5rem, 0.7142059913rem + 8.9289700433vw, 5rem);
  }
  .tokenomics__ca span:nth-child(2) {
    font-size: clamp(1.25rem, 1.0714205991rem + 0.8928970043vw, 1.5rem);
  }
  .join__button {
    width: clamp(11.25rem, 7.6784119827rem + 17.8579400866vw, 16.25rem);
  }
  .join__front img:nth-child(2) {
    width: clamp(13.75rem, 5.088899058rem + 43.30550471vw, 25.875rem);
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  .footer__bottom:before {
    height: clamp(2rem, 1.6rem + 2vw, 4rem);
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    scale: 1.1;
  }
  .header__button:hover:before {
    content: "";
    inset: 0;
  }
  .header__button:hover span {
    letter-spacing: 0.05em;
  }
  .footer__top-menu-item:hover img {
    scale: 0.975;
  }
  .footer__top-social-item:hover img {
    scale: 0.95;
  }
  .footer__body a:hover span {
    text-decoration: underline;
  }
  .hero__button:hover img {
    scale: 0.975;
  }
  .hero__social-item:hover img {
    scale: 0.95;
  }
  .story__content-button:hover img {
    scale: 0.975;
  }
  .tokenomics__ca button:hover svg {
    scale: 0.95;
  }
  .join__button:hover img {
    scale: 0.975;
  }
  .join__social-item:hover img {
    scale: 0.95;
  }
}
